<div class="container">

    <h4>Update Details</h4>

    <table class='table table-bordered'>

        <tr>
<th>User Details</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
        </tr>
        <tr>
            <td>User Entity in List => </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>




<div class="form-group">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/">Redirect to Home Page of the Application</a>
    </div>